.todo-bg{
    background-color: rgb(255, 255, 255);
    border: 4px solid;
    border-radius: 20px;
    border-bottom: 10px rgb(170, 149, 149);
    border-top: 10px rgb(207, 168, 168);
    padding: 8px;

}