<div class="my-4">

    <h3>Add Todo</h3>

    <form action="" method="post" class="row g-2 mb-2 bg-light p-lg-4">

        <label for="title">Title:</label>
        <input class="form-control me-2 col-auto" type="text" placeholder="Title" aria-label="Title">

        <label for="title">Desc:</label>
        <input class="form-control me-2 col-auto" type="text" placeholder="Description" aria-label="Desc">

        <label for="title">Extra:</label>
        <input class="form-control me-2 col-auto" type="text" placeholder="Extra" aria-label="Extra">

        <button class="btn btn-sm btn-primary p-auto col-auto" type="submit">Add</button>
    </form>

</div>